*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

nav {
    background-color: black;
    padding: 8px 12px;
}

nav .title {
    color: white;
}

.add-container{
    display: flex;
    padding: 18px 12px;
    gap: 5px;
    height: 40px;
}

.input-box {
    width: 100%;
    border-radius: 8px;
    border: 1px grey solid;
    background-color: #F3F4F6;
    padding: 8px 12px;
}

.add-btn {
    background-color: black;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 8px 16px;
}

.list-container ul{
    list-style: none;
    padding: 0 12px;
    
}

.list-container ul li {
    display: flex;
    justify-content: space-between;
    background-color: #F3F4F6;
    padding: 24px 16px;
    border-radius: 8px;
}


@media only screen and (min-width: 768px) {
    .main-container {
        margin: 0 auto;
        max-width: 980px;
    }
}